ES_VERSION=9.4.2
ES_PORT=9202
KIBANA_PORT=5601
OPENSEARCH_VERSION=2.17.1
OPENSEARCH_PORT=9203
OPENSEARCH_DASHBOARDS_PORT=5602
ES_SECURE_PORT=9205
OPENSEARCH_SECURE_PORT=9204
ES_SECURE_PASSWORD=Solyanka2026!
OPENSEARCH_SECURE_PASSWORD=Solyanka2026!
KIBANA_SECURE_PORT=5603
OPENSEARCH_DASHBOARDS_SECURE_PORT=5604
KIBANA_SYSTEM_PASSWORD=KibanaSys2026!
KIBANASERVER_PASSWORD=KibanaServer2026!
